In [25]:
import pandas as pd
#levantamos las data con pandas
data_riesgos=pd.read_csv('Data - Riesgos.csv')
#genera un dataframe con la 'Data - Riesgos.csv'
df=pd.DataFrame(data_riesgos)

#dimensiones del dataframe
print('Las dimensión del dataframe es: ' , df.shape)

#número de datos que contiene el dataframe
print('El número de datos del dataframe es: ', df.size)

#los nombres de sus columnas
print('Los nombres de sus columnas son:\n ', df.columns)

#los nombres de sus filas
print('Los nombres de sus filas son:\n ', df.index)

#los tipos de datos de las columnas
print('Los tipos de datos de las columnas son:\n ', df.dtypes)

#muestra las 10 primeras filas
print('Las 10 primeras filas son:\n ', df.head(10))

#muestra las 10 últimas filas
print('Las 10 ultimas filas son:\n ', df.tail(10))

#veirificación si hay datos perdidos
a=pd.isnull(df)
print('Verificación de datos perdidos:\n',a)

#total de datos perdidos por columana
b=df.isnull().sum()
print('Total de datos perdidos por columna:\n' ,b)

m=df.iloc[0:100,]
print('Muestra las 100 primeras filas:\n' ,m)

Las dimensión del dataframe es:  (4500, 10)
El número de datos del dataframe es:  45000
Los nombres de sus columnas son:
  Index(['ID', 'edad', 'meses', 'max_ant', 'ingreso', 'score', 'tipo_vivienda',
       'zona', 'nivel', 'riesgo'],
      dtype='object')
Los nombres de sus filas son:
  RangeIndex(start=0, stop=4500, step=1)
Los tipos de datos de las columnas son:
  ID                 int64
edad             float64
meses            float64
max_ant          float64
ingreso          float64
score            float64
tipo_vivienda      int64
zona             float64
nivel              int64
riesgo             int64
dtype: object
Las 10 primeras filas son:
       ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0  2208  33.0  128.0      6.0   3230.0  192.0              2   3.0      2
1  2211  32.0  185.0      7.0   2930.0  217.0              2   1.0      5
2  2212  28.0    NaN      7.0   1883.7  202.0              2   1.0      2
3  2216  56.0  200.0      0.0    850.0  194.0              2   1.0      5
4  2218  32.0  131.0     65.0   3200.0  200.0              2   1.0      2
5  2219  34.0  145.0      6.0   7000.0  196.0              2   5.0      2
6  2226   NaN  114.0      0.0   2171.5  178.0              2   2.0      1
7  2227  27.0  116.0      0.0    800.0  169.0              2   1.0      5
8  2228  26.0  182.0      6.0   3150.0  190.0              4   3.0      5
9  2230  25.0  154.0      1.0   2600.0  189.0              2   1.0      2

   riesgo
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
Las 10 ultimas filas son:
          ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel  \
4490  1486  59.0  288.0      0.0  30000.00  207.0              2   1.0      2
4491  1487  55.0  294.0     57.0   9300.00  238.0              4   1.0      2
4492  1488  53.0  148.0    106.0  30000.00  219.0              4   1.0      2
4493  1491  29.0  198.0     94.0   5250.00  214.0              2   1.0      2
4494  1493  32.0  195.0     41.0   7500.00  219.0              2   1.0      2
4495  1494  54.0  510.0     87.0  24000.00  214.0              2   1.0      2
4496  1495  63.0  305.0     99.0   9880.73  219.0              2   5.0      2
4497  1496  48.0  194.0    124.0  23000.00  224.0              4   1.0      2
4498  1497  39.0  245.0    121.0  12450.00  240.0              4   5.0      2
4499  1499  65.0  674.0     38.0  20000.00  238.0              4   5.0      2

      riesgo
4490       0
4491       0
4492       0
4493       0
4494       0
4495       0
4496       0
4497       0
4498       0
4499       0
Verificación de datos perdidos:
          ID   edad  meses  max_ant  ingreso  score  tipo_vivienda   zona  \
0     False  False  False    False    False  False          False  False
1     False  False  False    False    False  False          False  False
2     False  False   True    False    False  False          False  False
3     False  False  False    False    False  False          False  False
4     False  False  False    False    False  False          False  False
...     ...    ...    ...      ...      ...    ...            ...    ...
4495  False  False  False    False    False  False          False  False
4496  False  False  False    False    False  False          False  False
4497  False  False  False    False    False  False          False  False
4498  False  False  False    False    False  False          False  False
4499  False  False  False    False    False  False          False  False

      nivel  riesgo
0     False   False
1     False   False
2     False   False
3     False   False
4     False   False
...     ...     ...
4495  False   False
4496  False   False
4497  False   False
4498  False   False
4499  False   False

[4500 rows x 10 columns]
Total de datos perdidos por columna:
 ID                0
edad             13
meses             6
max_ant           4
ingreso           5
score             5
tipo_vivienda     0
zona              6
nivel             0
riesgo            0
dtype: int64
Muestra las 100 primeras filas:
       ID  edad  meses  max_ant  ingreso  score  tipo_vivienda  zona  nivel  \
0   2208  33.0  128.0      6.0  3230.00  192.0              2   3.0      2
1   2211  32.0  185.0      7.0  2930.00  217.0              2   1.0      5
2   2212  28.0    NaN      7.0  1883.70  202.0              2   1.0      2
3   2216  56.0  200.0      0.0   850.00  194.0              2   1.0      5
4   2218  32.0  131.0     65.0  3200.00  200.0              2   1.0      2
..   ...   ...    ...      ...      ...    ...            ...   ...    ...
95  2387  41.0  141.0      0.0  3420.36  214.0              4   2.0      1
96  2389  29.0  159.0     17.0  1157.06  163.0              2   4.0      2
97  2391  27.0  122.0      NaN  2000.00  188.0              2   1.0      2
98  2392  35.0  111.0      0.0   812.53  177.0              2   1.0      5
99  2394  28.0  137.0      0.0  2000.00  175.0              3   1.0      5

    riesgo
0        1
1        1
2        1
3        1
4        1
..     ...
95       1
96       1
97       1
98       1
99       1

[100 rows x 10 columns]